html,
body {
  background: transparent;
  margin: 0;
  padding: 0;
}

.splash {
  /* background: #101010; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.titlebox {
  margin: 0;
  padding: 2em;
  text-align: center;
  position: relative;
  /* border: 6px solid transparent;
    -moz-border-image: -moz-linear-gradient(45deg, red 0%, blue 100%);
    -webkit-border-image: -webkit-linear-gradient(45deg, red 0%, blue 100%);
    border-image: linear-gradient(45deg, red 0%, blue 100%);
    border-image-slice: 1; */
}

.gaelforce {
  margin: 0;
  font-family: 'Product Sans';
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-size: 2.2em;
  color: #fff;
}

.nospace {
  letter-spacing: 0;
}

.titlebox:after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: linear-gradient(120deg, red, blue);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), 7px calc(100% - 7px), 7px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.titlebox.in:after {
  animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

/* motion */

@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), 7px calc(100% - 7px), 7px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), calc(100% - 7px) calc(100% - 7px), calc(100% - 7px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 7px 100%, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 0% 100%);
  }
}